@import 'variables';
.stories
 {
  width: 550px;
  display: flex;
  align-content: center;
  background-color: $background-white;
  border: 1px solid $border-color-grey;
  border-radius: 3px;
  margin: 2em 0 1.5em 0;
  height: 7.4em;
  overflow-y: hidden; 

}

.stories::-webkit-scrollbar
{
  width: auto;
}